<%= form_with(model: presence) do |form| %>
  <% if presence.errors.any? %>
    <div style="color: red">
      <ul>
        <% presence.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p style="color: green" class="text-2xl notice font-bold mb-4"><%= notice %></p>

  <% if presence.assemblee %>
    <div>
      <%= form.label :signature, style: "display: block" %>
      <%= form.text_field :signature, style:'display: none' %>
    </div>

    <div id="signature">
      <div class="wrapper">
        <canvas id="signature-pad" class="signature-pad border border-slate-300" width=700 height=350></canvas>
      </div>

      <% if ((presence.assemblee.début + presence.assemblee.durée.to_f.hours) - Time.current).positive? %>
        <p class="mt-2">
          Temps restant : 
          <%= time_ago_in_words(presence.assemblee.début + presence.assemblee.durée.to_f.hours)  %>
        </p>
      <% end %>

      <div class="flex gap-4 mt-4">
        <button id="save" class="btn btn-success btn-lg">Enregistrer</button>
        <a id="clear" class="btn btn-lg">Effacer</a>
      </div>
    </div>
  <% else %>
    <p>Il n'y a pas d'assemblée en cours</p>
  <% end %>
<% end %>

<% if presence.assemblee %>
  <div class="mt-8">
    <% presence.assemblee.presences.order(created_at: :desc).each do |p| %>
      Il y a <%= time_ago_in_words p.created_at%>, <%= p.user.nom_prénom %> a signé
      <br>
    <% end %>
  </div>
<% end %>

<script>
  var signaturePad = new SignaturePad(document.getElementById('signature-pad'));
  var signatureField = document.getElementById('presence_signature');
  var saveButton = document.getElementById('save');
  var cancelButton = document.getElementById('clear');

  saveButton.addEventListener('click', function (event) {
    if (signaturePad.isEmpty()){
      event.preventDefault();
    } else {
      signatureField.setAttribute('value', signaturePad.toDataURL("image/svg+xml"));
    }
  });

  cancelButton.addEventListener('click', function (event) {
    signaturePad.clear();
  });

  // slimselect
  new SlimSelect({
    select: '#presence_user_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
    }
  })
</script>
