<div id="<%= dom_id presence %>" class="flex gap-8">
  <div>
    <p class="text-2xl"><%= presence.participant.nom_prénom %></p>

    <p>
      <strong>Session:</strong>
      <%= l presence.session.date %>
    </p>

    <p>
      <strong>Signature le:</strong>
      <%= l presence.heure %>
    </p>
  </div>
  <img src=<%= presence.signature %> style="border: 1px #CCC solid; padding: 10px; height:100px">
</div>
