<div id="<%= dom_id presence %>">
  <p>
    <strong>Nom:</strong>
    <%= presence.nom %>
  </p>

  <p>
    <strong>Prénom:</strong>
    <%= presence.prénom %>
  </p>

  <p>
    <strong>Heure:</strong>
    <%= presence.heure %>
  </p>

  <p>
    <strong>Signature:</strong>
    <br>
    <img src=<%= presence.signature %> style="border: 1px #CCC solid; padding: 10px;">
  </p>
</div>
