<div id="<%= dom_id presence %>" class="flex gap-8 mt-6">
  <div>
    <p class="text-2xl mb-4"><%= presence.user.nom_prénom %></p>

    <p>
      <strong>Assemblée :</strong>
      <%= presence.assemblee.nom %>
    </p>

    <p>
      <strong>Signature le :</strong>
      <%= l presence.heure %>
    </p>
  </div>
  <img src=<%= presence.signature %> style="border: 1px #CCC solid; padding: 10px; height:100px">
</div>
