<h1 class="text-4xl font-bold mb-4"><%= page_title!("Liste des émargements") %></h1>

<%= form_tag request.path, method: :get do %>
  <div class="flex flex-wrap items-end gap-4">
    <div class="max-w-72">
      <%= label_tag :search, "Rechercher" %>
      <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class: 'input input-bordered input-sm w-full', placeholder: 'Nom/Prénom/Email' %>
    </div>
    <div class="max-w-md w-full">
      <%= label_tag :assemblee_id, "Session" %>
      <%= select_tag :assemblee_id, options_from_collection_for_select(@assemblees, :id, :nom_long, params[:assemblee_id]), include_blank: true, onchange: 'this.form.submit()' %>
    </div>
    <div class="max-w-md w-full">
      <%= label_tag :user_id, "Participant" %>
      <%= select_tag :user_id, options_from_collection_for_select(@users, :id, :nom_prénom, params[:user_id]), include_blank: true, onchange: 'this.form.submit()' %>
    </div>
    <div>
      <%= render TagCloudComponent.new(tags: @tags) %>
    </div>
  </div>
<% end %>

<div class="divider"></div>

<div id="presences" class="flex flex-wrap gap-4 mb-12">
  <%= turbo_stream_from "presences_#{current_user.organisation.slug}" %>
  <%= render @presences %>
</div>

<%= turbo_stream_from "presences_count_#{current_user.organisation.slug}" %>

<div id="presences_count" class="mt-8 mb-2">
  Affichage de <%= pluralize(@presences.count, 'émargement', plural: 'émargements') %>
</div>  

<%= link_to url_for(params.permit!.merge(format: :xls)), class: "text-success hover:underline" do %>
  Exporter vers Excel
<% end %>

<% if params[:assemblee_id].present? %>
  |
  <%= link_to url_for(params.permit!.merge(format: :pdf)), class: "text-error hover:underline mb-12" do %>
    Exporter vers PDF
  <% end %>
<% end %>

<script>
  new SlimSelect({
    select: '#assemblee_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Filtrer par session',
      allowDeselect: true
    }
  })
  new SlimSelect({
    select: '#user_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Filtrer par participant',
      allowDeselect: true
    }
  })
</script>
