<h1 class="text-4xl font-bold mb-4">Liste des émargements</h1>

<%= form_tag request.path, method: :get do %>
  <div class="flex flex-wrap items-end gap-4">
    <div class="max-w-72">
      <%= label_tag :search, "Rechercher" %>
      <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class: 'input input-bordered input-sm w-full', placeholder: 'Nom/Prénom/Email' %>
    </div>
    <div class="max-w-72 w-full">
      <%= label_tag :assemblee_id, "Assemblée" %>
      <%= select_tag :assemblee_id, options_from_collection_for_select(@assemblees, :id, :nom, params[:assemblee_id]), include_blank: true, onchange: 'this.form.submit()' %>
    </div>
    <div>
      <%= render TagCloudComponent.new(tags: @tags) %>
    </div>
  </div>
<% end %>

<div class="divider"></div>

<div id="presences" class="flex flex-wrap gap-4 mb-12">
  <%= turbo_stream_from "presences_#{current_user.organisation.slug}" %>
  <%= render @presences %>
</div>

<p class="mt-8">
  Affichage de <b><%= pluralize(@presences.count, 'émargement') %></b>
</p>

<%= link_to presences_path(params.merge(format: :xls)), class: "text-success hover:underline" do %>
  Exporter vers Excel
<% end %>
|
<%= link_to presences_path(params.merge(format: :pdf)), class: "text-error hover:underline mb-12" do %>
  Exporter vers PDF
<% end %>

<script>
  new SlimSelect({
    select: '#assemblee_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Filtrer par assemblée',
      allowDeselect: true
    }
  })
</script>
