<p style="color: green"><%= notice %></p>

<%= render @presence %>

<div>
  <%= link_to "Modifier", edit_presence_path(@presence) %> |
  <%= link_to "Retour aux présences", presences_path %>

  <%= button_to "[X]", @presence, method: :delete %>
</div>
