<p style="color: green"><%= notice %></p>

<%= render @presence %>

<div>
  <%= link_to "Modifier", edit_presence_path(@presence), class:'btn btn-success btn-sm' %> |
  <%= link_to "Retour", presences_path, class:'btn btn-sm' %>

  <%= button_to "Supprimer", @presence, method: :delete, class:'btn btn-error btn-sm' %>
</div>