<div id="<%= dom_id session %>">
  <p>
    <strong>Date :</strong>
    <%= l session.date %>
  </p>

  <p>
    <strong>Durée :</strong>
    <%= session.durée %>
  </p>

  <p>
    <strong>Nb Signatures :</strong>
    <%= session.presences.count %> / <%= Participant.count %>
  </p>

</div>
