<p style="color: green"><%= notice %></p>

<%= render @session %>

<div>
  <%= link_to "Modifier", edit_session_path(@session), class:'btn btn-success btn-sm' %> |
  <%= link_to "Retour", sessions_path, class:'btn btn-sm' %>

  <%= button_to "Supprimer", @session, method: :delete, class:'btn btn-error btn-sm' %>
</div>
