<div class="flex flex-col justify-center items-center h-screen">
  <h1 class="text-2xl font-bold mb-4">Inscription</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :nom %><br />
      <%= f.text_field :nom, class:'input input-sm input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :prénom %><br />
      <%= f.text_field :prénom, class:'input input-sm input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :adresse %><br />
      <%= f.text_field :adresse, class:'input input-sm input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class:'input input-sm input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class:'input input-sm input-bordered w-full' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:'input input-sm input-bordered w-full' %>
    </div>

    <div class="actions">
      <%= f.submit "S'inscrire", class: 'btn btn-lg w-full my-4' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
