<tr class="hover border">
  <td>
    Il y a <%= time_ago_in_words(audit.created_at) %>
    <br>
    (<%= l(audit.created_at, format: :custom) %>)
  </td>
  <td>
    <% if audit.user_id %>
      <% if audit.user %>
        <%= audit.user.email %>
        (#<%= audit.user.id %>)
        <br>
        <%= audit.user.admin? %>
        <br>
      <% end %>
      IP: <%= audit.remote_address %>
    <% else %>
      SYSTEM CONSOLE
    <% end %>
  </td>
  <td>
    <%= audit.auditable_type %>
  </td>
  <td style="text-align: right;">
    <%= link_to_if audited_view_path(audit), audit.auditable_id, audited_view_path(audit), class: 'text-primary hover:underline' %>
  </td>
  <td>
    <%= audit.action.humanize %>
  </td>
  <td>
    <% unless audit.comment %>
      <%= sanitize prettify(audit).join('<br>') %>
    <% else %>
      <%= audit.comment %>
    <% end %>
  </td>
</tr>
