<div class="border-b mt-6 mb-2 pb-4">
  <h1 class="text-3xl">Audit des modifications</h1>
</div>

<div class="p-4 shadow mb-4">
  <%= form_tag request.path, method: :get do %>
    <div class="flex flex-wrap">

      <div class="sm:w-1/6 pr-4">
        <%= label_tag :start_date, "Du" %>    
        <%= text_field_tag :start_date, params[:start_date], type:'date', class:"input input-bordered input-sm w-full" %>
      </div>

      <div class="sm:w-1/6 pr-4">
        <%= label_tag :end_date, "Au" %>    
        <%= text_field_tag :end_date, params[:end_date], type:'date', class:"input input-bordered input-sm w-full", onchange:'this.form.submit()' %>
      </div>

      <div class="sm:w-1/6 px-4">
        <%= label_tag :type, "Type" %>
        <%= select_tag :type,
              options_for_select(@types, params[:type]), include_blank:true, onchange:'this.form.submit()', class:"select select-bordered select-sm w-full" %>
      </div>

      <div class="sm:w-1/12 px-4">
        <%= label_tag :action_name, "Action" %>
        <%= select_tag :action_name,
              options_for_select(@actions, params[:action_name]), include_blank:true, onchange:'this.form.submit()', class:"select select-bordered select-sm w-full" %>
      </div>

      <div class="sm:w-1/5 px-4">
        <%= label_tag :search, "Rechercher" %>
        <div class="join w-full">       
          <%= text_field_tag :search, params[:search], class:"input input-bordered input-sm w-full join-item" %>
          <%= submit_tag 'GO', class:"btn btn-success text-white btn-sm join-item", 'data-turbo': false %>
        </div>
      </div>

      <% if params[:start_date].present? && params[:end_date].present? && params[:type] == 'Cour' %>
        <div class="sm:w-2/5 px-4">
          <br>
          <%= check_box_tag :chgt_salle, 1, params[:chgt_salle], onchange:'this.form.submit()' %>
          <%= label_tag :chgt_salle, "Ne voir que les changements de salle ?" %>
        </div>
      <% end %>    
    </div>
  <% end %>
</div>

<div class="overflow-x-auto">
  <table class="table table-sm">
    <thead class="bg-slate-100 border">
      <tr>
        <th>Date</th>
        <th>Utilisateur</th>
        <th>Type</th>
        <th>Id</th>
        <th>Action</th>
        <th>Modifications</th>
      </tr>
    </thead>

    <%= render partial: 'audit', collection: @audits %>
  </table>
</div>