<h1 class="text-4xl font-bold mb-6"><%= page_title!("Ajouter un Participant") %></h1>

<div class="max-w-96">
  <%= form_with(model: @user, class: "contents", url: "create_new_participant_do", html: { autocomplete: "off" }) do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@user.errors.count, "erreur") %> empêche(nt) ce participant d'être enregistré :</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div>
      <%= form.label :nom, style: "display: block" %>
      <%= form.text_field :nom, class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="mt-4">
      <%= form.label :prénom, style: "display: block" %>
      <%= form.text_field :prénom, class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="mt-4">
      <%= form.label :email, style: "display: block" %>
      <%= form.email_field :email, class: 'input input-bordered input-sm w-full', required: true %>
    </div>

    <div class="mt-4">
      <%= form.label :tags, "Groupes d'intérêt", style: "display: block" %>
      <%= form.select :tags, options_from_collection_for_select(@tags, :name, :name), multiple: true %>
    </div>

    <div class="inline">
      <%= form.submit "Enregistrer", class: "btn btn-primary btn-outline my-4" %>
    </div>
  <% end %>
</div>

<script>
  // slimselect
  new SlimSelect({
    select: '#user_tags',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un ou plusieurs groupes',
      allowDeselect: true,
    },
    events: {
      addable: function (value) {
        return value
      }
    }
  })
</script>