<div class="flex justify-center mt-12">
  <ul class="timeline">
    <% @assemblees.each_with_index do |assemblee, index| %>
      <% past = (assemblee.début < DateTime.now) %>
      <li>
        <hr class="<%= 'bg-primary' if past %>"/>
        <% if index.even? %>
          <div class="timeline-start timeline-box">
            <b><%= assemblee.nom.humanize %></b>
            <br>
            <%= l assemblee.try(:début), format: :short %>
          </div>
        <% end %>
        <div class="timeline-middle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 <%= 'text-primary' if past %>"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
        </div>
        <% if index.odd? %>
          <div class="timeline-end timeline-box">
            <b><%= assemblee.nom.humanize %></b>
            <br>
            <%= l assemblee.try(:début), format: :short %>
          </div>
        <% end %>
        <hr class="<%= 'bg-primary' if past %>"/>
      </li>
    <% end %>
  </ul>
</div>

<div class="flex flex-col justify-center gap-8 mt-24">
  <div class="flex flex-wrap gap-8">
    <%= link_to "Assemblées", assemblees_path, class: 'btn btn-lg flex-1' %>
    <%= link_to "Émargements", presences_path, class: 'btn btn-lg flex-1' %>
  </div>
  <div class="flex flex-wrap gap-8">
    <%= link_to "Utilisateurs", users_path, class: 'btn btn-lg flex-1' %>
    <% if Assemblee.current %>
      <%= link_to "Émargement collectif '#{ Assemblee.current.nom }'".upcase, admin_signature_path, class: 'btn btn-primary btn-outline btn-lg flex-1' %>
    <% end %>
  </div>
</div>