<h1 class="text-4xl font-bold mb-4 text-center"><%= page_title!("Compte PREMIUM") %></h1>

<div class="flex flex-wrap justify-center">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="text-center font-black text-2xl mb-8">
        <% if current_user.premium? && current_user.organisation.expiration_premium %>
          <span class="text-gray-500">
            Vos avantages jusqu'au 
            <%= l current_user.organisation.expiration_premium, format: :custom2 %>
          </span>
        <% else %>
          Les avantages du compte PREMIUM :
        <% end %>
      </h2>

      <p>1. Nombre de participants illimité</p>
      <p>2. Envoi automatique du lien à tous les participants avant le début de l'assemblée</p>
      <p>3. Enlève des convocations le lien d'auto-promotion</p>
      <p>4. MailLog: Historique des mails envoyés, avec Statut (OK = acheminé) et État (OUVERT = lu) consultables pendant 5 jours</p>
      <p>5. Audit trail : Journal des modifications de données (connexions, signatures, participants, ...)</p>
      <p>6. Propositions d'itinéraires sur les convocations, avec plusieurs modalités de transport et les bilans carbone (à venir)</p>

      <% unless current_user.premium? %>
        <div class="flex flex-wrap mt-8 justify-around items-center">
          <p>
            <%= link_to "Philippe NOUGAILLON (Consulting IT)", "https://www.philnoug.com/", class: 'underline' %>
            <br><br>
            Pôle de développement de l’entrepreneuriat<br>
            de l’EPT Grand Paris Grand Est<br>
            106-112 allée Notre Dame des Anges,<br>
            93370 Montfermeil<br>
            Siret : 384 396 719 00047
          </p>
          <%= image_tag "Compte PREMIUM-qrcode.png" %>
          <%= link_to "Payer avec PayPal", "https://www.paypal.com/ncp/payment/RLKRFJG5SD4M6", class: 'btn btn-primary btn-outline btn-lg hover:!text-white' %>
        </div>
      <% else %>
        <%= link_to "Un problème ? Nous contacter...", "https://www.philnoug.com/contact", class: 'mt-8 underline' %>
      <% end %>

    </div>
  </div>

</div>