<h1 class="text-4xl font-bold my-8 text-center">
  <%= page_title!("Offre PREMIUM") %>
  <span class="material-symbols-outlined text-primary">
    verified
  </span>
</h1>

<div class="flex flex-wrap justify-center">
  <div class="card bg-base-100 shadow-lg">
    <div class="card-body">
      <h2 class="text-center font-black text-2xl mb-8">
        <% if current_user.premium? && current_user.organisation.expiration_premium %>
          <span class="text-gray-500">
            Vos avantages jusqu'au 
            <%= l current_user.organisation.expiration_premium, format: :custom2 %>
          </span>
        <% else %>
          <span class="text-primary">
            Tous les avantages d'avoir un compte 'PREMIUM' :
          </span>
        <% end %>
      </h2>

      <p>
        <span class="badge badge-primary badge-xs"></span> 
        Nombre de participants <b>illimité</b> (au lieu de 50 avec l'offre gratuite)  
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        <b>Support technique</b> par email à J+1
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        Accès à l'AUDIT TRAIL, <b>historique des modifications</b> de données (assemblées, participants, signatures, connexions, ...)
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        MAIL LOGS : <b>conservation permanente des statuts</b> d'acheminement et d'ouverture des emails envoyés.
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        <b>Vérification des fausses signatures</b>
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        <b>Enlève le lien d'auto-promotion</b> visible sur les convocations
      </p>
      <p>
        <span class="badge badge-primary badge-xs"></span> 
        Tarif unique : 29 €/Mois/Organisation
      </p>

      <% unless current_user.premium? %>
        <div class="flex flex-wrap mt-4 justify-center gap-24 items-center">
          <%= link_to "Souscrire à l'offre 'PREMIUM' et payer avec PayPal", "https://www.paypal.com/ncp/payment/RLKRFJG5SD4M6", class: 'btn btn-primary btn-outline btn-lg hover:!text-white' %>
          <%= image_tag "Compte PREMIUM-qrcode.png" %>
        </div>
      <% end %>
      <%= link_to "Vous avez une question, une remarque ou un projet à nous soumettre ? Contactez-nous !", "https://www.philnoug.com/contact?objet=Émargements", class: 'mt-12 underline', target:"_blank" %>
    </div>
  </div>
</div>