<h1 class="text-4xl font-bold mb-4">Mail Logs</h1>

<p class="mb-4">Historique des mails envoyés via MailGun, avec Statut et État consultables pendant 5 jours.</p>

<%= form_tag request.path, method: :get do %>
  <div class="flex flex-wrap items-end gap-4">

    <div class="w-full sm:w-1/4 pr-4">
      <%= label_tag :search, "Destinataire" %>
      <%= text_field_tag :search, params[:search], include_blank: true, onchange:'this.form.submit()', class:"input input-bordered input-sm w-full" %>
    </div>

    <div class="relative flex-grow max-w-full flex-1">
      <%= label_tag :search_subject, "Sujet" %>
      <%= select_tag :search_subject, options_for_select(@mail_logs.pluck(:subject).uniq.sort, params[:search_subject]), include_blank: true, onchange:'this.form.submit()', class:"select select-bordered select-sm w-full" %>
    </div>

    <div class="sm:w-1/4 pr-4">
      <%= label_tag :ko, "Afficher que les KO ?" %>
      <br>
      <%= check_box_tag :ko, 1, params[:ko], onchange:'this.form.submit()' %>
    </div>
    
  </div>
<% end %>

<div class="overflow-x-auto mt-8">
  <table class="table table-sm">
    <thead class="bg-slate-100">
      <tr>
        <th>Il y a</th>
        <th>De</th>
        <th>À</th>
        <th>Sujet</th>
        <th>Statut</th>
        <th>État</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @mail_logs.each_with_index do |mail_log, index| %>
        <% if params[:ko].blank? || (mail_log.created_at > 5.days.ago && @status_ko[index] != nil) %>
          <%= render partial: "mail_log", locals: {mail_log: mail_log, status_ko: @status_ko, index:} %>
        <% end %>
      <% end %>
    </tbody>

    <tfoot>
      <tr>
        <th colspan="7"></th>
      </tr>
    </tfoot>
  </table>
</div>

<p class="mt-8">Affichage de <b><%= params[:ko].blank? ? @mail_logs.count : @status_ko.compact_blank.count %> mails</b> sur <%= @organisation_mail_logs.count %> au total</p>