<p class="mb-4">
  <strong>Il y a :</strong>
  <%= time_ago_in_words @mail_log.created_at %>
</p>

<p class="mb-4">
  <strong>Destinataire :</strong>
  <%= @mail_log.to %>
</p>

<p class="mb-4">
  <strong>Sujet :</strong>
  <%= @mail_log.subject %>
</p>

<p class="mb-4">
  <strong>Date :</strong>
  <%= l @mail_log.created_at %>
</p>

<p class="mb-4">
  <strong>ID du message :</strong>
  <%= @mail_log.message_id %>
</p>

<% if @mail_log.created_at > 5.days.ago %>
  <p class="mb-4">
    <strong>Statut :</strong>
    <% if status = @result["items"].find{|item| item["message"]["headers"]["message-id"] == @mail_log.message_id } %>
      <span class="text-error">
        <%= JSON.pretty_generate(status) %>
      </span>

    <% else %>
      <span class="text-success">OK</span>
    <% end %>
  </p>
<% end %>

<%= link_to 'Retour', mail_logs_path, class: 'text-primary hover:underline' %>
