<%= form_with(model: organisation, class: "contents") do |form| %>
  <% if organisation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(organisation.errors.count, "erreur") %> empêche(nt) l'organisation d'être sauvegardée :</h2>

      <ul>
        <% organisation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :nom %>
    <%= form.text_field :nom, class: "input input-bordered input-sm w-full", required: true, autofocus: true, placeholder: 'ex: CESER Grand-Est' %>
  </div>

  <div class="my-5">
    <%= form.label :logo %>
    <%= form.file_field :logo, class: "file-input file-input-bordered file-input-sm file-input-primary w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :adresse %>
    <%= form.text_area :adresse, rows: 4, class: "textarea textarea-bordered textarea-sm w-full" %>
  </div>


  <div class="inline">
    <%= form.submit "Enregister", class: "btn btn-sm btn-primary btn-outline mb-4" %>
  </div>
<% end %>
