<li>
  <p>
    <%= current_user.email %>
    (<%= current_user.organisation.nom %>)

    <% if current_user.organisation.premium %>
      <%= link_to admin_premium_path do %>
        <span class="material-symbols-outlined text-primary">
          verified
        </span>
      <% end %>
    <% end %>
  </p>
</li>

<% unless current_user.premium? %>
  <li>
    <%= link_to "OFFRE PREMIUM", admin_premium_path, class: 'btn btn-outline btn-secondary btn-sm hover:!text-white' %>
  </li>
<% end %>

<li>
  <%= button_to destroy_user_session_path, method: :delete, title: "Fermer la session de #{current_user.email}", form_class: '!p-0', class:'h-full' do %>
    <span class="btn btn-outline btn-secondary hover:!text-white btn-sm">
      Déconnexion
    </span>
  <% end %> 
</li>
