<div class="timeline-<%= start ? 'start' : 'end' %> timeline-box hover:underline">
  <%= link_to assemblee_path(assemblee) do %>
    <b><%= assemblee.nom.humanize %></b>
    <br>
    <%= assemblee.horaires %>
    <br>

    <p class="">
      <% assemblee.tags.each do |tag| %>
        <span class="badge"><%= tag.name.humanize %></span>
      <% end %>
    </p>

    <p class="min-h-4 font-black">
      <% if assemblee.début > DateTime.now %>
        <span class="text-warning">
          Commence dans <%= time_ago_in_words assemblee.début %>
        </span>
      <% elsif ((assemblee.début + assemblee.durée.to_f.hours) - Time.current).positive? %>
        <span class="text-error">
          Se termine dans <%= time_ago_in_words assemblee.fin %>
        </span>
      <% end %>
    </p>
  <% end %>
</div>