<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Nouveau Participant", new_participant_path, class:'btn btn-success btn-lg float-end' %>
  <h1 class="text-4xl font-bold mb-6">Participants</h1>
</div>

<div id="participants">
  <% @participants.each do |participant| %>
    <%= render participant %>
    <div class="flex gap-4 mt-2 mb-6">
      <%= link_to "Modifier", edit_participant_path(participant), class:'btn btn-sm' %>
      <%= button_to "Supprimer", participant, method: :delete, class:'btn btn-error btn-sm' %>
    </div>
    <hr>
  <% end %>
</div>
