<div id="<%= dom_id user %>" class="mt-4 pb-4 border-b border-gray-200">

  <%= link_to user_path(user), class:'text-2xl font-bold text-primary hover:underline' do %>
    <% if user.admin? %>
      <span class="material-symbols-outlined text-secondary" title="Administrateur de l'organisation">
        local_police
      </span>
    <% end %>
    <%= user.nom_prénom %>
  <% end %>

  <br>
  <span class="text-secondary"><%= user.email %></span>

  <p class="mt-4">
    Groupes :
    <% user.tags.each do |tag| %>
      <span class="badge"><%= tag.name.humanize %></span>
    <% end %>
  </p>

  <p class="mt-4">
    <%= link_to_if user.presences.count.positive?, pluralize(user.presences.count, 'émargement', plural: 'émargements'), presences_path(user_id: user.id), class: 'text-primary hover:underline', title: "Voir tous les émargements de ce participant." %>
  </p>
  
</div>