<div id="<%= dom_id user %>" class="mt-4 pb-4 border-b border-gray-200">
  <%= link_to user_path(user), class:'text-2xl' do %>
    <%= user.nom_prénom %>
    <% if user.admin %>
      <span class="material-symbols-outlined text-warning">
        local_police
      </span>
    <% end %>
  <% end %>
  <p>
    <% user.tags.each do |tag| %>
      <%= link_to(tag.name.humanize, users_path(tag:tag.name), class: 'badge') %>
    <% end %>
  </p>
  <p class="mt-4">
    <%= link_to_if user.presences.count.positive?, pluralize(user.presences.count, 'émargement', plural: 'émargements'), presences_path(search: user.email), class: 'text-primary hover:underline' %>
  </p>
  <div class="flex gap-4 mt-6">
    <%= link_to "Modifier", edit_user_path(user), class:'btn btn-primary btn-outline btn-sm' %>
    <%= button_to user, method: :delete, data:{turbo_confirm: "Êtes-vous certain(e) de vouloir supprimer cet utilisateur ?"}, class:'btn btn-error btn-outline btn-sm', disabled: user.presences.any? do %>
      <span class="material-symbols-outlined">
        delete
      </span>
    <% end %>
  </div>
</div>