<div class="flex flew-wrap justify-between">
  <h1 class="text-4xl font-bold mb-4"><%= page_title!("Participants") %></h1>
  <div>
    <%= link_to "Nouveau Participant", new_user_path, class:'btn btn-primary btn-outline btn-lg hover:shadow-xl hover:!text-white' %>
    <% if policy(:admin).import? %>
      <%= link_to "Importer", admin_import_path, class:'btn btn-secondary btn-outline btn-lg' %>
    <% else %>
      <%= link_to "Importer", admin_premium_path(alert: true), class:'btn btn-secondary btn-outline btn-lg disabled-element' %>
    <% end %>
  </div>
</div>

<%= form_tag request.path, method: :get do %>
  <div class="flex flex-wrap items-end gap-4">
    <div class="max-w-72">
      <%= label_tag :search, "Rechercher" %>
      <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class: 'input input-bordered input-sm w-full', placeholder: 'Nom/Prénom/Email' %>
    </div>

    <div class="max-w-72 w-full">
      <%= label_tag :assemblee_id, "Assemblée" %>
      <%= select_tag :assemblee_id, options_from_collection_for_select(@assemblees, :id, :nom, params[:assemblee_id]), include_blank: true, onchange: 'this.form.submit()' %>
    </div>
    <%# label_tag :admin, "Admin" %>
    <%# check_box_tag :admin, params[:admin], params[:admin], class: 'checkbox', onchange: 'this.form.submit()' %>
    <div>
      <%= render TagCloudComponent.new(tags: @tags) %>
    </div>
  </div>
<% end %>

<div class="divider"></div>

<div id="users">
  <%= render @users %>
</div>


<p class="mt-8">Affichage de <%= pluralize(@users.count, 'participant', plural: 'participants') %> sur <%= current_user.organisation.users.count %> au total</p>

<script>
  new SlimSelect({
    select: '#assemblee_id',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Filtrer par assemblée',
      allowDeselect: true
    }
  })
</script>
