<p class="text-2xl">
  <%= @user.nom %> <%= @user.prénom %>
</p>
<% tag_cloud(@user.tags, ['badge-sm', '', 'badge-md', 'badge-lg']) do |tag, css_class| %>
  <%= link_to(tag.name.humanize, users_path(tag:tag.name), class: 'badge badge-outline ' + css_class) %>
<% end %>

<p class="mt-4">
  <strong>Email :</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Adresse :</strong>
  <%= @user.adresse %>
</p>

<% unless @user.sign_in_count.zero? %>
  <p class="mt-8 mb-4">
    Connexion actuelle : 
    le <%= l(@user.current_sign_in_at) %> 
    | Il y a <%= time_ago_in_words(@user.current_sign_in_at) %>
  </p>
  <p class="mb-4">
    Dernière connexion : 
    le <%= l(@user.last_sign_in_at) %> 
    | Il y a <%= time_ago_in_words(@user.last_sign_in_at) %>
  </p>
  <p class="mb-8">
    Nbr connexions : <%= @user.sign_in_count %> 
  </p>
<% end %>
<div class="flex flex-wrap gap-4">
  <%= link_to "Modifier", edit_user_path(@user), class:'btn btn-primary btn-outline btn-sm' %>
  <%= link_to "Retour", users_path, class:'btn btn-outline btn-sm' %>
  <%= button_to "[X]", @user, method: :delete, class:'btn btn-error btn-outline btn-sm', disabled: @user.presences.any? %>
</div>
