<h1 class="text-4xl font-bold mb-4">
  <%= @user.nom_prénom %>
  <% if @user.admin %>
    <span class="material-symbols-outlined">
      local_police
    </span>
  <% end %>
</h1>
<% @user.tags.each do |tag| %>
  <%= link_to(tag.name.humanize, users_path(tag:tag.name), class: 'badge badge-ghost') %>
<% end %>

<p class="mt-4">
  <strong>Email :</strong>
  <%= @user.email %>
</p>

<p class="mt-4">
  <strong>Adresse :</strong>
  <%= @user.adresse %>
</p>

<p class="mt-4">
  <%= @user.presences.count %> émargement.s
</p>

<% unless @user.sign_in_count.zero? %>
  <p class="mt-8 mb-4">
    Connexion actuelle : 
    le <%= l(@user.current_sign_in_at) %> 
    | Il y a <%= time_ago_in_words(@user.current_sign_in_at) %>
  </p>
  <p class="mb-4">
    Dernière connexion : 
    le <%= l(@user.last_sign_in_at) %> 
    | Il y a <%= time_ago_in_words(@user.last_sign_in_at) %>
  </p>
  <p>
    Nbr connexions : <%= @user.sign_in_count %> 
  </p>
<% end %>
<div class="flex flex-wrap gap-4 mt-8">
  <%= link_to "Modifier", edit_user_path(@user), class:'btn btn-primary btn-outline btn-sm' %>
  <%= button_to @user, method: :delete, data:{turbo_confirm: "Êtes-vous certain.e de vouloir supprimer cet utilisateur ?"}, class:'btn btn-error btn-outline btn-sm', disabled: @user.presences.any? do %>
    <span class="material-symbols-outlined">
      delete
    </span>
  <% end %>
  <%= link_to "Retour", users_path, class:'btn btn-outline btn-sm' %>
</div>
