<p class="mb-4" style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Modifier", edit_user_path(@user), class:'btn btn-primary btn-sm' %> |
  <%= link_to "Retour", users_path, class:'btn btn-sm' %>
  <%= button_to "Supprimer", @user, method: :delete, class:'btn btn-error btn-sm' %>
</div>
