<div class="hero min-h-screen bg-base-100">

  <div class="flex flex-row flex-wrap gap-12 px-4">

    <div class="mx-auto w-full lg:w-96">
      <div class="card shadow-2xl bg-base-100 p-8">
        <h1 class="text-2xl font-bold border-b border-gray-400 pb-4 w-full text-center my-4">Connexion</h1>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'input input-sm input-bordered w-full', required: true %>
          </div>

          <div class="field my-4">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password", class:'input input-sm input-bordered w-full', required: true %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>

          <div class="actions">
            <%= f.submit "Se connecter", class: 'btn btn-outline btn-lg btn-primary w-full my-4' %>
          </div>
        <% end %>
        <%= render "devise/shared/links" %>
      </div>
    </div>

    <div class="mx-auto mt-12">

      <h1 class="text-4xl text-primary font-black">
        <%= page_title!("Émargements") %>
      </h1>

      <h2 class="text-3xl mb-12">
        Application de gestion de Feuilles de présences numériques
      </h2>

      <h3 class="text-xl text-secondary font-black my-6">
        Vous souhaitez remplacer vos feuilles de présence papier 
        <br>
        par une solution numérique, simple et automatique ?
        <br><br>
        Cette application permet de créer des assemblées, d'y associer des participants 
        <br>
        et de leur envoyer automatiquement un lien vers un formulaire de signature,
        <br>
         10 minutes avant le début de l'assemblée.
        <br><br>
        Pour une confidentialité renforcée, les données de signature stockées 
        <br>
        dans la base de données sont chiffrées.
      </h3>
    </div>

  </div>
</div>