<h1>Nouvelle session !</h1>

<p>Nom Organisation : <%= @assemblee.organisation.nom %></p>
<p>Nom de la session : <%= @assemblee.nom %></p>
<p>Début : <%= I18n.l(@assemblee.début, format: :long) %></p>
<p>Durée : <%= @assemblee.durée %></p>
<p>Adresse : <%= @assemblee.adresse %></p>
<p>Email Gestionnaire : <%= @assemblee.user.email %></p>
