<div id="<%= dom_id assemblee %>">
  <p>
    <strong>Début :</strong>
    <%= l assemblee.début %>
  </p>

  <p>
    <strong>Durée :</strong>
    <%= assemblee.durée %> h
  </p>

  <p>
    <strong>Nbr Signatures :</strong>
    <%= assemblee.presences.count %> / <%= User.count %>
  </p>

</div>
