<div id="<%= dom_id assemblee %>" class="mt-4 pb-4 border-b border-gray-200">
  <div class="flex flex-wrap gap-8">
    <div>
      <p class="text-3xl font-bold text-primary hover:underline">
        <%= assemblee.nom.humanize %>
      </p>
      
      <p class="font-bold">
        <%= assemblee.horaires_long %>
        <% if assemblee.début > DateTime.now %>
          <span class="text-warning italic">
            (début de session dans <%= time_ago_in_words assemblee.début %>)
          </span>
        <% elsif assemblee.in_progress? %>
          <span class="text-error italic">
            (fin de session dans <%= time_ago_in_words assemblee.fin %>)
          </span>
        <% end %>
      </p>

      <p class="mt-4">
        Groupes : <% assemblee.tags.each do |tag| %>
          <span class="badge"><%= link_to tag.name.humanize, users_path(tags: [tag.name]), class: "hover:underline" %></span>
        <% end %>
        |         
        Gestionnaire : <%= assemblee.user.nom_prénom %> (<%= assemblee.user.email %>)
      </p>

      <p class="my-4">
        Statut : 
        <span class="text-nowrap font-bold <%= assemblee.style %>">
          <%= assemblee.workflow_state.humanize %>
        </span>
        |
        Émargements :
        <%= link_to assemblee.presences.count, presences_path(assemblee_id: assemblee.id), class: 'text-primary hover:underline' %>
        /
        <%= link_to "#{assemblee.related_users.count} participant(s)", users_path(assemblee_id: assemblee.id), class: 'text-primary hover:underline' %>
      </p>

      <div class="flex flex-wrap gap-2 mt-6">
        <%= link_to "Modifier", edit_assemblee_path(assemblee), class:'btn btn-primary btn-outline btn-sm' %>
        <%= link_to "Copier", new_assemblee_path(assemblee_id: assemblee), class:'btn btn-success btn-outline btn-sm' %>

        <%= link_to "Générer les convocations", assemblee_path(assemblee, format: :pdf), class:'btn btn-secondary btn-outline btn-sm', target: "_blank", title: "Générer les convocations (PDF)" %>
        <% if assemblee.fin > DateTime.now %>
          <%= link_to "Envoyer le lien au gestionnaire", envoyer_lien_gestionnaire_assemblee_path(assemblee), class: 'btn btn-warning btn-outline btn-sm', title: "Envoyer au gestionnaire un mail contenant le lien public vers la feuille d'émargement des présences" %>
        <% end %>
        <%= button_to assemblee, method: :delete, data: {turbo_confirm: "Êtes-vous certain(e) de vouloir supprimer cette session ? Cela supprimera aussi les signatures liées" }, class: 'btn btn-error btn-outline btn-sm' do %>
          <span class="material-symbols-outlined">
            delete
          </span>
        <% end %>
      </div>
    </div>

    <% if assemblee.in_progress? %>
      <div class="self-end shadow p-4">
        <%= raw assemblee.qrcode(admin_signature_collective_url(assemblee_id: assemblee.slug)) %>
        <%= link_to "Signer maintenant !", admin_signature_collective_url(assemblee_id: assemblee.slug), class: 'btn btn-outline text-success mt-4 w-full', target: '_blank', title: "Lancer la session de signature collective ou flasher le Qr-code pour émarger à partir d'un autre appareil (Tablette)" %>
      </div>
    <% end %>

  </div>
</div>
