<div id="<%= dom_id assemblee %>" class="mt-4 pb-4 border-b border-gray-200">
  <div class="flex flex-wrap gap-8">
    <div>
      <p class="text-2xl font-bold">
        <%= assemblee.nom.humanize %>
      </p>
      <p>
        <%= l(assemblee.début, format: :long) %>
        <%= "(dans #{time_ago_in_words assemblee.début})" if assemblee.début > DateTime.now %>
      </p>
      <p class="mt-4">
        Groupes : <% assemblee.tags.each do |tag| %>
          <%= link_to(tag.name.humanize, assemblees_path(tag:tag.name), class: 'badge !text-white') %>
        <% end %>
      </p>

      <p class="mt-4">
        Adresse : <%= assemblee.adresse %>
      </p>

      <p class="my-4">
        Signatures :
        <%= link_to "#{assemblee.presences.count} émargement(s)", presences_path(assemblee_id: assemblee.id), class: 'text-primary hover:underline' %>
        /
        <%= link_to "#{assemblee.related_users.count} participant(s)", users_path(assemblee_id: assemblee.id), class: 'text-primary hover:underline' %>
      </p>

      <div class="flex flex-wrap gap-4 mt-2">
        <%= link_to "Modifier", edit_assemblee_path(assemblee), class:'btn btn-primary btn-outline btn-sm' %>
        <%= link_to "Générer les convocations", assemblee_path(assemblee, format: :pdf), class:'btn btn-success btn-outline btn-sm', target: "_blank", title: "Générer les convocations (PDF)" %>
        <% if assemblee.fin > DateTime.now %>
          <%= link_to "Envoyer le lien au gestionnaire", commencer_assemblee_path(assemblee), class: 'btn btn-warning btn-outline btn-sm', title: "Envoyer au gestionnaire un mail contenant le lien public vers la feuille d'émargement des présences" %>
        <% end %>
        <%= button_to assemblee, method: :delete, data: {turbo_confirm: "Êtes-vous certain.e de vouloir supprimer cette assemblée ? Cela supprimera aussi les signatures liées" }, class:'btn btn-error btn-outline btn-sm' do %>
          <span class="material-symbols-outlined">
            delete
          </span>
        <% end %>
        <% if assemblee.in_progress? %>
        <% end %>
      </div>
    </div>

    <% if assemblee.in_progress? %>
      <div>
        <%= raw assemblee.qrcode(admin_signature_url(assemblee_id: assemblee.slug)) %>
        <%= link_to "Signer (Émargement)", admin_signature_url(assemblee_id: assemblee.slug), class: 'btn btn-outline btn-sm mt-8', target: '_blank' %>
      </div>
    <% end %>

  </div>
</div>
