<%= form_with(model: assemblee) do |form| %>
  <% if assemblee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assemblee.errors.count, "error") %> prohibited this assemblee from being saved:</h2>

      <ul>
        <% assemblee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom, class: 'input input-bordered input-sm w-full' %>
  </div>

  <div>
    <%= form.label :début, style: "display: block" %>
    <%= form.datetime_field :début, class: 'input input-bordered input-sm w-full' %>
  </div>

  <div>
    <%= form.label :durée, style: "display: block" %>
    <%= form.number_field :durée, class: 'input input-bordered input-sm w-full' %>
  </div>

  <div>
    <%= form.label :adresse, style: "display: block" %>
    <%= form.text_field :adresse, class: 'input input-bordered input-sm w-full' %>
  </div>

  <div>
    <%= form.submit class:'btn btn-primary btn-sm mt-6' %>
  </div>
<% end %>
