<%= form_with(model: assemblee) do |form| %>
  <% if assemblee.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assemblee.errors.count, "error") %> prohibited this assemblee from being saved:</h2>

      <ul>
        <% assemblee.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom, class: 'input input-bordered input-sm w-full', required: true, placeholder: 'ex: Commission Mobilité' %>
  </div>

  <div class="mt-4">
    <%= form.label :tags, "Groupes d'intérêt", style: "display: block" %>
    <%= form.select :tags, options_from_collection_for_select(@tags, :name, :name, assemblee.tags.map(&:name)), multiple: true %>
  </div>

  <div class="mt-4">
    <%= form.label :début, style: "display: block" %>
    <%= form.datetime_field :début, class: 'input input-bordered input-sm w-full', required: true %>
  </div>

  <div class="mt-4">
    <%= form.label :durée, "Durée (h)", style: "display: block" %>
    <%= form.number_field :durée, step: :any , class: 'input input-bordered input-sm w-full' %>
  </div>

  <div class="mt-4">
    <%= form.label :adresse, style: "display: block" %>
    <%= form.text_area :adresse, class: 'textarea textarea-bordered textarea-sm w-full' %>
  </div>

  <div class="mt-4" title="Envoyer automatiquement le lien collectif au gestionnaire 10 minutes avant le début de l'assemblée ?">
    <%= form.check_box :automatique %>
    <%= form.label :automatique, "Envoyer le lien collectif au gestionnaire ? (Vous)" %>
  </div>

  <div class="mt-4" title="Envoyer automatiquement le lien individuel à tous les participants 10 minutes avant le début de l'assemblée ?">
    <%= form.check_box :notifier_participants %>
    <%= form.label :notifier_participants, "Envoyer le lien individuel aux participants ?" %>
  </div>

  <div>
    <%= form.submit "Enregistrer", class:'btn btn-primary btn-outline mt-6' %>
    <%= link_to "Retour", assemblees_path, class:'btn ml-2' %>
  </div>
<% end %>

<script>
  // slimselect
  new SlimSelect({
    select: '#assemblee_tags',
    settings: {
      searchPlaceholder: 'Recherche',
      searchText: 'Pas de résultat',
      searchingText: 'Recherche...',
      placeholderText: 'Choisissez un ou plusieurs groupes',
      allowDeselect: true,
    }
  })
</script>