<div class="mb-4">
  <%= link_to "Nouvelle Assemblée", new_assemblee_path, class:'btn btn-primary btn-outline btn-lg float-end hover:shadow-xl hover:!text-white' %>
  <h1 class="text-4xl font-bold">Assemblées</h1>
</div>

<%= form_tag request.path, method: :get do %>
  <div class="flex flex-wrap items-end gap-4">
    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
      <%= label_tag :search, "Rechercher" %>
      <%= text_field_tag :search, params[:search], include_blank:true, onchange:'this.form.submit()', class: 'input input-bordered input-sm w-full', placeholder: 'Nom/Adresse' %>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/6">
      <%= label_tag :debut, 'Du' %>
      <%= date_field_tag :debut, params[:debut], onchange: 'this.form.submit()', class: 'input input-bordered input-sm w-full' %>
    </div>

    <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/6">
      <%= label_tag :fin, 'Fin' %>
      <%= date_field_tag :fin, params[:fin], onchange: 'this.form.submit()', class: 'input input-bordered input-sm w-full' %>
    </div>

    <div>
      <%= render TagCloudComponent.new(tags: @tags) %>
    </div>
  </div>
<% end %>

<div class="divider"></div>

<div id="assemblees">
  <%= render @assemblees %>
</div>

<p class="mt-8">Affichage de <b><%= pluralize(@assemblees.count, 'assemblée', plural: 'assemblées') %></b> sur <%= current_user.organisation.assemblees.count %> au total</p>

<%= link_to assemblees_path(params.merge(format: :ics)), class: "text-primary hover:underline" do %>
  Exporter au format iCal vers votre calendrier personnel (Google Agenda, Apple Calendar, Outlook, ...)
<% end %>