<p class="mb-4" style="color: green"><%= notice %></p>

<%= render @assemblee %>

<div>
  <%= link_to "Modifier", edit_assemblee_path(@assemblee), class:'btn btn-primary btn-sm' %> |
  <%= link_to "Retour", assemblees_path, class:'btn btn-sm' %>

  <%= button_to "Supprimer", @assemblee, method: :delete, class:'btn btn-error btn-sm' %>
</div>
