<!DOCTYPE html>
<html data-theme="corporate" lang="fr">
  <head>
    <title>Émargements v2.1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.0.0/dist/signature_pad.umd.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.0/dist/full.min.css" rel="stylesheet" type="text/css" />

    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <link rel="manifest" crossorigin="use-credentials" href="/manifest.json" />
    <script src="https://www.paypal.com/sdk/js?client-id=BAArebGXQhbSjKP3S-CqoS5B9TyHFKVEg9eT9zN_Ffd-Kwb6ogo81eNvLnvpiJ94TKlu7Ju4Os7TFpUrrg&components=hosted-buttons&disable-funding=venmo&currency=EUR"></script>
  </head>

  <body>
    <%= render "partials/navbar" %>
    <main class="py-4 px-4 md:px-12">
      <%= render "partials/notification" %>
      <%= yield %>
    </main>
  </body>
</html>
